/* Default Styling */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.content {

}

main {

}

.sidebar {

}

.project1 {

}

.project2 {

}

.navbar {

}

.icons {

}

.topSection {

}

.middleSection {

}

.finalSection {

}

.edit {
    
}